@model ProyectoEncuesta.Models.EquipoModel

@{
    ViewData["Title"] = "Crear";
}

<h1 style="color:red;">Crear Equipo:</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"  style="display:none">                
                <label asp-for="IdEquipo" class="control-label" ></label>
                <input asp-for="IdEquipo" class="form-control" />
                <span asp-validation-for="IdEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipo" class="control-label" style="font-style:oblique"></label>
                <input asp-for="Equipo" class="form-control" />
                <span asp-validation-for="Equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
